<!doctype html>

<html>

<head>
    <title>Mappy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="icon" href="favicon.ico" type="image/x-icon"> <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="/js/googleAnalytics.js">
    /*
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-158806082-2', 'auto');
        ga('require', 'GTM-NHDJ4HB')
        ga('send', 'pageview');
        */
    </script>
</head>

<body>
    <div class="container blue-bg">
        <div class="center-align">
            <img class="img-responsive center-block" src="/images/wordmark-only.svg">
            <br>
            <img class="img-responsive login-logo center-block" src="/images/mappy_logo.svg">
            <br>
            <div>
                <select id="start" class="custom-select-lg gate-select startgate" required>
                    <option>Select Current Location</option>
                    {{#each gates}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
                <br>
                <select id="end" class="custom-select-lg gate-select endgate" required>
                    <option>Select Destination Gate</option>
                    {{#each gates}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
                <br>
                <!--
                <h4 style="text-align: center;">Select Version</h4>
                <select id="version" class="custom-select-lg center-block" required>
                    <option>A</option>
                    <option>B</option>
                </select>
                <br>
                -->
                <a id='gotomap'><button type="button" onclick="setGate()" class="btn btn-outline-secondary center-block">
                    <h4 class="btn-text">Map Me!</h4>
                </button></a>
                <!--<button type="button" class="btn center-block">Map Me!</button>-->
            </div>
            <br>
            <p class="text-center">OR</p>
            <a href="/login"><button type="button" class="btn btn-outline-secondary center-block">
                    <h4 class="btn-text">Login with Expedia</h4>
                </button></a>
        </div>
    </div>
    <script>
        function setGate() {
            var startGate = $("#start").val();
            var endGate = $("#end").val();
            var version = "{{version}}"

            if (startGate === "Select Current Location") {
                alert("Please select a starting gate.");
            }
            else if (endGate === "Select Destination Gate") {
                alert("Please select a destination gate.");
            }
            else if (startGate === endGate) {
                alert("Please select two different gates.");
            }
            else {
                var linkStr = "/map" + '/' + startGate + '/' + endGate + '/' + version;

                $("#gotomap").attr("href", linkStr);
            }
        }
    </script>
</body>